{% extends "base.html" %}

{% block title %} Events {% endblock title %}

{% block content %}

<style>
  a {
    color: #004777;
  }
  body{
  color: #1E1E1E;
  }
  table{
    padding: 35px !important;
  }
</style>

<div style="color:#1E1E1E !important">
  <br><br>

  <div class="row justify-content-md-center">
<div class="col col-lg-1"> </div>

<div class="col col-lg-10">
  <h4> Nearby Events from EventBrite</h4>
{{ event | safe }}
</div>

<div class="col col-lg-1"> </div>
</div>

</div>


  <div class="row justify-content-md-center">
<div class="col col-lg-1"> </div>

<div class="col col-lg-10">


<div id = 'textevent' style="text-align: left">
  <br>
<h4 style="background-color:white;color:#1E1E1E">PassNYC has done excellent work with connecting and compling different resources on their site.
  Visit them <a href="http://www.passnyc.org/our-partners/">here</a>. <br><br>
 
</h4>
</div>


<table class="table table-hover">

  <tr> <th> Test Preparation and Tutoring </th> <th> After School Programs and Activities </th> </tr>
  <tr> 
    <td> <strong>Princeton Review</strong> is the go-to service provider for online homework help, test prep and admissions help, including in-person courses and individual tutoring for the SHSAT. <a target="_blank" href="http://www.princetonreview.com/k12/free-shsat-practice-test#!practice"><strong>Sign up here for a free practice SHSAT for students</strong></a>&nbsp;or a <a target="_blank" href="http://www.princetonreview.com/k12/free-shsat-practice-test#!strategy"><strong>NYC high school admissions strategy session for parents</strong></a>. 
    </td> 
    <td> 
      <strong>Citizen Schools </strong>partners with middle schools to expand the learning day for children in low-income communities. They work with AmeriCorps educators and volunteer “Citizen Teachers” to teach real-world learning projects to help all students discover and achieve their dreams.&nbsp;<a target="_blank" href="http://www.citizenschools.org/"><strong>For more information, please visit their website.&nbsp;</strong>
    </td> 
  </tr>

  <tr>
    <td>
      <strong>TestPrepSHSAT.com</strong> is one of the most comprehensive online prep courses for the SHSAT &amp; TJHSST exams, including timed practice exams,&nbsp;topic-based classroom tutorials, focused practice drills, and a Q&amp;A forum. In partnership with us, TestPrepSHSAT.com is now offering <a href="/shsat-prep"><strong>a free subscription--learn more here</strong></a>.
    </td>
      <td>
        <!-- INSERT HERE B-->
        <strong>Bridge to Enter Advanced Mathematics</strong> runs a free 3 week summer program in July for 7th graders, as well as algebra support for 8th graders and high school tutoring. If you're a student or parent interested in STEM careers,&nbsp;<a target="_blank" href="http://www.beammath.org/"><strong>learn more here.</strong></a>


    </td>

  </tr>

  <tr>
    <td>
      <!-- INSERT HERE A-->
      <strong>Breakthrough New York </strong>transforms the lives of talented kids from low-income backgrounds by providing educational support from middle school through college<strong>.</strong>&nbsp;&nbsp;<a target="_blank" href="http://www.btny.org/application-details"><strong>Check out their website to learn more and apply.&nbsp;</strong></a>
    </td>

    <td>
      <!-- INSERT HERE B-->
      <strong>STEM Kids NYC</strong> is a non-profit that provides a year-round, intensive suite of STEM education programs for K-12 scholars. The program builds skills to qualify students for future opportunities that will make them employable and reduce their risk of becoming impoverished, going to jail, or being shut out of the future jobs market. <a target="_blank" href="http://stemkidsnyc.org/index.html"><strong>Students and parents interested in after school and summer STEM programs can learn more here.&nbsp;</strong></a>
    </td>

  </tr>


  <tr>
    <td>
      <!-- INSERT HERE A-->
      <strong>Kaplan Test Prep </strong>offers preparation for more than 90 standardized tests, including entrance exams for secondary school, college and graduate school, as well as the SHSAT. <a href="https://www.kaptest.com/k8-prep/shsat"><strong>Check out their SHSAT prep courses and tutoring, and free upcoming practice tests.&nbsp;</strong></a>
    </td>

    <td>
      <!-- INSERT HERE B-->
      <strong>Harlem Grown</strong> is inspiring youth to lead healthy and ambitious lives through mentorship and hands-on education in urban farming, sustainability, and nutrition. They operate local urban farms,&nbsp;educate Harlem residents on healthy food, and provide garden-based development programs for Harlem youth. <a target="_blank" href="http://www.harlemgrown.org/about/"><strong>Get involved to inspire healthy habits here.</strong></a>
    </td>

  </tr>

    <tr>
    <td>
      <!-- INSERT HERE A-->
      <strong>School Plus</strong>&nbsp;offers a Weekend Enrichment Program for K-12th students with an alternative, refreshing perspectives on school subjects (Math, Science, Programming, English, Russian, History and Geography, Arts, and Chess).&nbsp;<strong><a target="_blank" href="http://school-plus.com/schoolplus/index.php?SHSAT">Check out their comprehensive SHSAT program (weekly classes from September of 7th grade to October of 8th grade)&nbsp;and practice exams.</a></strong>
    </td>

    <td>
      <!-- INSERT HERE B-->
      <strong>Make a Play</strong> is a basketball program that provides sports-based programming for youth to achieve their maximum potential both on and off the court.&nbsp;From beginner to advanced levels, MAP can help improve your offensive game, with skills training and conditioning for boys and girls. <a target="_blank" href="http://www.makeaplay.org/skill-builder-clinics---new-york-city.html"><strong>Sign up for the next skill building clinic here.</strong></a>
    </td>

  </tr>

    <tr>
    <td>
      <!-- INSERT HERE A-->
      Founded by a Brooklyn Tech grad, <strong>Admission Squad</strong>&nbsp;is a team of super star high school graduates and test prep experts that help students prepare for multiple public high school entrance exams (SHSAT, Bard &amp; NEST+M, etc.), mentor them in interviewing and other professional skills, and guide parents through the application process(es). <a target="_blank" href="http://admissionsquad.org/#about"><strong>6th, 7th and 8th graders can apply to participate in the program here.</strong>
    </td>

    <td>
      <!-- INSERT HERE B-->
      The <strong>Fresh Air Fund</strong>&nbsp;provides free summer vacations in the country to New York City children from low-income communities. Since 1887, 1.8 million kids have had unforgettable summer experiences.&nbsp;<a target="_blank" href="http://www.freshair.org/"><strong>Find out more here and get ready for the summer of a lifetime</strong></a>.
    </td>

  </tr>

    </tr>

    <tr>
    <td>
      <!-- INSERT HERE A-->
      <strong>CAS Prep</strong>’s Test Prep<strong>&nbsp;</strong>Program focuses on preparing 7th and rising 8th grade students for the Specialized High School Admission Test (SHSAT) and their Enrichment Program focuses on elevating the educational performance of 3rd through 6th graders.&nbsp;<strong><a target="_blank" href="http://www.casprep.org/classes-1-1/">Check out their upcoming classes here.</a>
    </td>

    <td>
      <!-- INSERT HERE B-->
      The <strong>World of Money</strong> is a New York City leading provider of immersive financial education for youth, ages 7 – 18. From business communication to online trading, excel, insurance and more - their curriculum covers it all in a three week, intensive summer training. They also run a business plan competition, parent forums and workshops throughout the year. 
    </td>

  </tr>

    </tr>

    <tr>
    <td>
      <!-- INSERT HERE A-->
      <strong>Kweller Prep</strong>&nbsp;offers Advanced Test Preparation in Small Group Settings for Students in Grades 3-12. Kweller Prep specializes in competitive middle, high school, and college entrance exam preparation. &nbsp;Class sizes are limited to 10 students max.&nbsp;<strong><a target="_blank" href="http://www.kwellerprep.com/">Learn more about and register for upcoming classes here.</a>
    </td>

    <td>
      <!-- INSERT HERE B-->
      <strong>Greenhouse Arts Center</strong> is an arts community center in Harlem where creativity thrives and the arts are a vehicle for the community to grow together!&nbsp;They offer dance, music, and theater classes--to inspire young people, empower and equip families, and meet needs in the local community. <a target="_blank" href="http://greenhouseartscenter.org/"><strong>Learn more and sign up for a class here</strong>.</a>
    </td>

  </tr>

    </tr>

    <tr>
    <td>
      <!-- INSERT HERE A-->
      <strong>RQM Tutorial</strong>&nbsp;provides low cost, high quality tutoring, focusing on students in Queens. Their SHSAT tutoring is individualized for each student, with one on one instruction, free online videos, and additional support all with a money back guarantee.&nbsp;<strong><a target="_blank" href="http://www.rqmtutorial.com/">Students in Queens can sign up here for tutoring at their Astoria or Jamaica-based offices</a>.
    </td>

    <td>
      <!-- INSERT HERE B-->
      <strong>Mindful Harlem</strong>&nbsp;is a community center that serves as a hub for all residents and guests interested in mindfulness and meditation. Participants are guided towards a recognition and compassion for their own inner and collective wisdom and resources including the unique art, music and history of this beautiful, diverse and colorful community.<strong>&nbsp;&nbsp;</strong><a target="_blank" href="http://www.mindfulharlem.com/"><strong>Check out their upcoming classes and meditations</strong></a>.
    </td>

  </tr>

  <tr>
    <td> <center>... </td>
     <td><center> ... </td>


  </tr>


</table>
 Below is a map of their partners.
<div class="mapouter">
  <div class="gmap_canvas">
    <br>
    <iframe width="600" height="500" id="gmap_canvas" src="https://www.google.com/maps/d/u/0/embed?mid=13sR5LXAJURxW_FuynMEyRFKgrXw" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </div>
  <style>
    .mapouter{
    color: white !important ;
    text-align:right;
    height:500px;
    width:600px;
    }
    .gmap_canvas{
    color:white !important;
    text-align:center;
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
    }
  </style>
</div>

</div>

<div class="col col-lg-1"> </div>
</div>



{% endblock content %}
