{% extends "base.html" %}

{% block content %}
    
<div class="jumbotron jumbotron-fluid" style="color: white;background-color:white">
  <h2 style="color:black">Animated Progress Bar</h2>
  <p style="color:black">The active class animates the progress bar:</p> 
  <div class="progress" style="height:50px;border-radius:0;color:black">
    <div class="progress-bar progress-bar-striped active bg-success" role="progressbar" aria-valuenow="40" aria-valuemin="June 16th 2018" aria-valuemax="100" style="width:40%">
      Jun 10th
    </div>
  </div>
</div>
<br>
<div class="container">
  <h4 style="color:white"> Hello {{ name }}! </h4>
  <!--
      <form class="form-register" action="/calendar">
	<button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color:lightgreen;color:black">Calendar</button>
      </form>
      -->
</div> 
<br>
<br>

</div>
{% endblock content %}
